* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  font: 100% Helvetica, sans-serif;
  color: #333333;
  line-height: 1em; }
  body:after {
    content: "";
    display: table;
    clear: both; }

div.banner {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  background-color: #00F; }
  div.banner:last-child {
    margin-right: 0; }
  div.banner canvas {
    height: 300px;
    width: 1024px;
    background-color: #F0F; }
div#navbar {
  height: 20em;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 23.23176%;
  background-color: #EE3300; }
  div#navbar:last-child {
    margin-right: 0; }
div#blogContent {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 57.35098%;
  height: 20em;
  padding: 0;
  line-height: 2em;
  text-align: center;
  background-color: #33EE00; }
  div#blogContent:last-child {
    margin-right: 0; }
div.portfolio {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  height: 20em;
  padding: 0;
  line-height: 2em;
  text-align: center;
  background-color: #33EE00; }
  div.portfolio:last-child {
    margin-right: 0; }
  div.portfolio div#project {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 23.23176%;
    height: 100%;
    background-color: #000;
    float: left;
    margin-bottom: 0.5em; }
    div.portfolio div#project:last-child {
      margin-right: 0; }
    div.portfolio div#project:nth-child(4n) {
      margin-right: 0; }
    div.portfolio div#project:nth-child(4n+1) {
      clear: left; }
div.main {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  padding-top: 2em; }
  div.main:last-child {
    margin-right: 0; }
div aside {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 14.70196%;
  background-color: #000; }
  div aside:last-child {
    margin-right: 0; }

section#gallery {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-bottom: 3em; }
  section#gallery:after {
    content: "";
    display: table;
    clear: both; }
  section#gallery > code, section#gallery code.block {
    display: block; }
  section#gallery div {
    height: 4em;
    line-height: 1em;
    text-align: left;
    padding: 0em; }
  section#gallery div.project {
    height: 21em;
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 23.23176%; }
    section#gallery div.project:last-child {
      margin-right: 0; }
    section#gallery div.project:nth-child(4n) {
      margin-right: 0; }
    section#gallery div.project:nth-child(4n+1) {
      clear: left; }
